<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YMSJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F11147AB1FD6248800100783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F11147BF1FD6248900100783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F11147CA1FD6248900100783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
