<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>B9C8C486-C013-4FF4-BF7F-4666CD8CD45A</key>
		<dict>
			<key>targetArchitecture</key>
			<string>armv7s</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPad3,4</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
